<p>Lazy loading components tutorial.</p>
<p>Tiago Alves de Vasco</p>

<div class="d-flex align-items-center justify-content-center">

    <button mat-raised-button routerLink="/component-a">
        <mat-icon class="color-button">add_circle</mat-icon>
    </button>
    <button mat-raised-button color="primary" routerLink="/component-b">
        <mat-icon>add</mat-icon>
    </button>

    
    <button mat-raised-button color="warning" routerLink="/component-c">
        <mat-icon>phone</mat-icon>
    </button>

    <button mat-raised-button (click)="openDialog()"><mat-icon>star</mat-icon></button>

</div>

